<table class="table-info">
    <thead>
    <tr>
        {% if perms.groups.delete_grouponcourse %}
        <th class="th-info">ID</th>
        {% endif %}
        <th class="th-info">Название</th>
        <th class="th-info">Курс</th>
        <th class="th-info">Ссылка</th>
    </tr>
    </thead>
    <tbody>
    {% for group in grouponcourse %}
    <tr>
        {% if perms.groups.delete_grouponcourse %}
        <td class="td-info">{{ group.id }}</td>
        {% endif %}
        <td class="td-info">{{ group.name }}</td>
        <td class="td-info"><a href="{% url 'course' group.course.id %} " class="a-info">{{ group.course.name }}</a>
        </td>
        <td class="td-info"><a href="{% url 'group' group.id %} " class="a-info">Ссылка</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>