{% if page_obj.has_other_pages %}
<nav class="list-page">
    <ul>
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num current-page">
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% elif p|add:-2 <= page_obj.number and page_obj.number <= p|add:2 %}
        <li class="page-num">
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% elif forloop.first %}
        <li class="page-num">
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% if page_obj.number|add:-3 != 1 %}
        <span class="space">...</span>
        {% endif %}
        {% elif forloop.last %}
        {% if page_obj.number|add:3 != forloop.counter %}
        <span class="space">...</span>
        {% endif %}
        <li class="page-num">
            <a href="?page={{p}}"> {{p}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}