<table class="table-info">
    <thead>
    <tr>
        {% if perms.users.delete_user %}
        <th class="th-info">ID</th>
        {% endif %}
        <th class="th-info">Имя пользователя</th>
        {% if perms.groups.change_grouponcourse %}
        <th class="th-info">Почта</th>
        {% endif %}
        <th class="th-info">Имя</th>
        <th class="th-info">Фамилия</th>
        <th class="th-info">Роль</th>
        {% if perms.groups.change_grouponcourse %}
        <th class="th-info">Ссылка</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        {% if perms.users.delete_user %}
        <td class="td-info">{{ user.id }}</td>
        {% endif %}
        <td class="td-info">{{ user.username }}</td>
        {% if perms.groups.change_grouponcourse %}
        <td class="td-info">{{ user.email }}</td>
        {% endif %}
        <td class="td-info">{{ user.first_name }}</td>
        <td class="td-info">{{ user.last_name }}</td>
        <td class="td-info">{{ user.groups.all|join:" " }}</td>
        {% if perms.groups.change_grouponcourse %}
        <td class="td-info"><a href="{% url 'user' user.id %} " class="a-info">Ссылка</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
