{% extends 'base/base.html' %}
{% block content %}
<div class="info-one">
    <h2 class="h-info">Название группы: {{name}}</h2>
    <p class="p-info"> Курс: <a href="{% url 'course' course.id %}" class="a-info">{{course.name}}</a></p>


    <h3 class="h-info">Состав группы:</h3>
    {% include 'base/users_table.html' %}

    {% if perms.groups.change_grouponcourse %}
    <a href="edit/" class="info-edit-link">Редактировать группу</a>
    {% endif %}
    {% if perms.groups.delete_grouponcourse %}
    <a href="delete/" class="info-delete-link">Удалить группу</a>
    {% endif %}

</div>
{% include 'base/button_prev.html' %}
{% endblock content %}